################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ITicket/FileContentIndex/a9d19b58-54f7-4f55-92cf-ba8257da4840.vsidx
