################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ITicket/FileContentIndex/a9d19b58-54f7-4f55-92cf-ba8257da4840.vsidx
/.vs/ITicket/FileContentIndex/14a23e2a-24fd-4dbb-9943-4c143fc5c673.vsidx
/.vs/ITicket/FileContentIndex/6d7e5f55-d617-4f76-a8db-d6cbac18d8ce.vsidx
/.vs/ITicket/FileContentIndex/ac38db82-a5ef-4f1b-b331-8a72af8c956a.vsidx