@model List<ITicket.Models.Servico>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seu Título</title>

    <!-- CSS do Bootstrap 4 (via CDN) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Biblioteca de ícones do Bootstrap (via CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

    <!-- JavaScript do Bootstrap 4 (via CDN, necessário para alguns recursos do Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- CSS for flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- JavaScript for flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Home" asp-action="MinhaConta">Minha Conta</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="Administracao">Administração</a>
                        </div>
                    </li>
                </ul>
                <a class="btn btn-primary" asp-action="AbrirChamado" asp-controller="Chamado">
                    Abrir Chamado
                </a>
            </div>
        </div>
    </nav>

   

    <script>
        $(document).ready(function() {
            if (sessionStorage.getItem("isAuthenticated") !== "true") {
                $('#loginModal').modal('show');
            }
        });
    </script>

    
<script>
    $(document).ready(function() {
        if (sessionStorage.getItem("isAuthenticated") !== "true") {
            $('#loginModal').modal('show');
        }
    });
</script>



    <div class="text-center">
        <h2>Consultar Chamado</h2>
        <br>
        <br>
        <form>
            <div class="form-group row">
                <label for="filtro" class="col-sm-2 col-form-label">Filtro:</label>
                <div class="col-sm-3">
                    <select class="form-control" id="filtro">
                        <option value="opcao1">Nr.Chamado</option>
                        <option value="opcao2">Data</option>
                        <option value="opcao3">SLA</option>
                        <option value="opcao3">Solicitante</option>
                        <option value="opcao3">Atendente</option>
                        <option value="opcao3">E-mail</option>
                    </select>
                    <br>

                </div>
                    <div class="col-sm-4">
    <div class="input-group">
        <input type="text" class="form-control" id="texto-exemplo" placeholder="Nr.Chamado, Solicitante, SLA, etc.">
    </div>
</div>
<div class="form-group row">
    <label for="de" class="col-sm-2 col-form-label">De:</label>
    <div class="col-sm-3">
        <div class="input-group date">
            <input type="text" class="form-control" id="de">
            <button class="btn btn-outline-secondary" type="button" id="deBtn"><i class="bi bi-calendar3"></i></button>
        </div>
    </div>
    <label for="ate" class="col-sm-1 col-form-label">Até:</label>
    <div class="col-sm-3">
        <div class="input-group date">
            <input type="text" class="form-control" id="ate">
            <button class="btn btn-outline-secondary" type="button" id="ateBtn"><i class="bi bi-calendar3"></i></button>
        </div>
    </div>
    <div class="col-sm-2">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
</div>
        </form>

        <div class="container mt-5">
            <div class="text-center">
                <h2>Histórico de Chamados</h2>
            </div>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">NR.CHAMADO</th>
                        <th scope="col">DATA DE ABERTURA</th>
                        <th scope="col">CRIADO POR</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">SLA</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 10; i++) {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>



    </div>








   

    

    <!-- Seu script de inicialização do datepicker -->
    <script>
        var dePicker = flatpickr("#de", {
        dateFormat: "d/m/Y"
    });

    var atePicker = flatpickr("#ate", {
        dateFormat: "d/m/Y"
    });

    document.getElementById("deBtn").addEventListener("click", function() {
        dePicker.open();
    });

    document.getElementById("ateBtn").addEventListener("click", function() {
        atePicker.open();
    });
    </script>

    

    <!-- Script de envio do formulário de login -->
    <script>
        $(document).ready(function () {
            $('#loginForm').submit(function (event) {
                event.preventDefault(); // Impede o envio padrão do formulário

                $.ajax({
                    url: $(this).attr('action'), // Obtém o URL de destino do formulário
                    method: $(this).attr('method'), // Obtém o método do formulário (POST neste caso)
                    data: $(this).serialize(), // Obtém os dados do formulário
                    success: function (response) {
                        console.log(response);
                        // Lida com a resposta do servidor
                        if (response.ok) {
                            localStorage.setItem("isAuthenticated", "true");
                            $('#loginModal').modal('hide');
                            window.location.href = '/Home/Index';
                        } else {
                            alert('Credenciais inválidas. Tente novamente.');
                        }
                    },
                    error: function () {
                        alert('Ocorreu um erro ao processar a solicitação. Tente novamente mais tarde.');
                    }
                });
            });
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    function checkLogin(event) {
        $.ajax({
            url: '@Url.Action("IsSignedIn", "Account")',
            method: 'GET',
            success: function(isSignedIn) {
                if (!isSignedIn) {
                    event.preventDefault();
                    alert("Faça login primeiro");
                }
            }
        });
    }

    document.getElementById('abrirChamadoButton').addEventListener('click', function() {
        $('#abrirChamadoModal').modal('show');
    });
</script>

    

</body>
</html>
